.size {
    background-color: rgb(223, 220, 220);
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 35px;
    height: 35px;
    font-size: 0.8em;
    margin-bottom: 8px;
    margin-right: 8px;
    border-radius: 50%;
    line-height: 35px;
    text-align: center;
}

.size:hover { 
    border: 1px solid #1b1a20;
  }

.size:checked {
    background-color: #1b1a20;
    color: #ececec;
  }
